---
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost";
---

<Layout title="Blog">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-4"
  >
    {[...new Array(9)].map((post) => <BlogPost />)}
  </div>
</Layout>
