---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer";

// 1. The frontmatter prop gives access to frontmatter and other data
const { frontmatter } = Astro.props;
---

<html>
  <head>
    <!-- Add other Head elements here, like styles and meta tags. -->
    <title>{frontmatter.title}</title>
  </head>
  <body class="dark:bg-gray-900 min-h-screen dark:text-white flex flex-col justify-between">
    <!-- navbar  -->

    <Navbar />

    <main class="max-w-6xl w-full mx-auto py-8 px-4 flex-grow">
      <slot />
    </main>

    <Footer />
  </body>
</html>
